body {
  margin: 0;
  background-color: #f0f0f0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0 auto;
}
.spin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wheel-container {
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wheel {
  width: 300px;
  height: auto;

  transition: transform 2s ease-out;
}
.spin-button {
  cursor: pointer;
  width: 250px;
  margin-top: 20px;
}

.spin-marker {
  width: 50px;
  height: auto;
  align-self: center;
}

.header {
  min-width: 1060px;
  height: 570px;
  background-image: url("./dev/assets/showdown-imgs/header.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  width: 802px;
  height: 336px;
  background-image: url("./dev/assets/showdown-imgs/showdown-off.png");
  background-size: contain;
  background-position: center;
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
