body {
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wheel {
  width: 300px; /* Adjust size as needed */
}
.spin-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1060px;
  height: 545px;
}
.headerImage {
  width: 1060px;
  height: 545px;
  object-fit: cover;
}
#off {
  position: absolute;
  top: 0;
  left: 0;
  width: 1060px;
  height: 545px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offImage {
  width: 802px;
  height: 336px;
  object-fit: contain;
}
#myCanvas {
  position: absolute;
  top: 0;
  left: -190px;
  width: 802px;
  height: 336px;
}
